--extra-index-url https://download.pytorch.org/whl/cpu

google-cloud-storage
torch==1.13.0+cpu

# API
fastapi         # API framework
uvicorn         # web server

# Hugging face
datasets
transformers
